.header {
	font-size: 20px;
	line-height: 1.5;
	margin: 60px auto;
}
.header span {
	display: block;
}
.section {
	padding: 30px 0;
}
.form {
	border: 5px solid #3d23c3;
	padding: 35px 20px;
}

.form input {
	margin-bottom: 12px;
}
.form-header, .section-header, .clients {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;

}
.form-btn {
	margin: 10px auto;
	background-color: #3d23c3;
}

.feature {
	margin: 50px auto;

}
.feature-box img {
	height: 100px;
	width: 100px;
	margin-bottom: 20px;
}

.vibeo {
	margin-bottom: 30px;
}
.client-box {
	display: inline-block;
	margin-bottom: 30px;
}